/* Error: Undefined variable.
 *   ,
 * 7 |   background-color: $primary-color; // переменная для основного цвета
 *   |                     ^^^^^^^^^^^^^^
 *   '
 *   styles\main.scss 7:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 7 \2502    background-color: $primary-color; // \43f \435 \440 \435 \43c \435 \43d \43d \430 \44f  \434 \43b \44f  \43e \441 \43d \43e \432 \43d \43e \433 \43e  \446 \432 \435 \442 \430 \d\a   \2502                      ^^^^^^^^^^^^^^\a   \2575 \a   styles\\main.scss 7:21  root stylesheet";
}
